*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.head
{
    height: 700px;
    background-color: #e4e3e1;
}
.nav-bar
{
    height: 70px;
    margin-left: 120px;
        margin-right: 120px;
    display: flex;
    cursor: pointer;
}
.logo
{
    height: 50px;
    width: 180px;
    background-image: url("images/logoo.png");
    background-size: cover;
    margin-top: 8px;
    margin-bottom: 8px;
}
.Menu
{
    width: 700px;
    height: 70px;
    background-color: #e4e3e1;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bolder;
    color: rgb(153, 152, 152);
}
.Menu p:hover
{
    color: black;
}
.Staff
{
    background-color: #e4e3e1;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 110px;
    border-radius: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border  : 4px solid #008000;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
}
.Staff:hover
{
    background-color: #008000;
    color: white;
}
/**NavBar Completed**/
.head2
{
    height: 580px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add
{
    width: 830px;
    background-color: rgb(202, 194, 202);
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.add p
{
    color: red;
    font-weight: bolder;

}
.Cross
{
    height: 20px;
    width: 20px;
    background-color: #e4e3e1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cross:hover
{
    background-color: red;
}
.profile
{
    height: 420px;
    width: 80%;
    margin-top: 20px;
    display: flex;
    
}
.pro-info
{
    width: 650px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pro-info
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.pro-info h3
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pro-info h1
{
color: rgb(109, 109, 109);
margin-top: 10px;
margin-bottom: 10px;
}
.pro-info h1:hover
{
    color: black;
}
.pro-info hr
{
    margin-right: 330px;
}
.pro-info3
{
    display: flex;
    margin-top: 20px;
}
.pro-info3A
{
    color: darkgoldenrod;
    font-size: 2.4rem;
    margin-right: 10px;
}
.pro-info3B {
    background-color: #008000;
    color: white;
    font-weight: bolder;
    width: 250px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 1rem;
}
.pro-photo
{
    width: 480px;
    background-color: aqua;
    border: 3px solid darkgoldenrod;
    border-radius: 50%;
    background-image: url("images/Picture.jpg");
    background-size: cover;
}
/**ProfileInfo completed**/
.about
{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about1
{
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.about1 hr
{
    color: black;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 80px;
}
.about2{
    display: flex;
    
}
.about2A
{
    width: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 100px;
}
.about2B 
{
    width: 50%;
    margin-top: 40px;
    color: #464645;
    font-size: 1.5rem;
    font-weight: bolder;

}
.about2B p
{

    color: #464645;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
}
.star 
{
    color: #008000;
    font-size: 0.8rem;
    display: flex;

}
.star p {
    margin-left: 15px;
    font-size: 0.85rem;
}
.Star-sec 
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/**Aboutus Section Complete**/
