*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.head
{
    height: 700px;
    background-color: #e4e3e1;
}
.nav-bar
{
    height: 70px;
    margin-left: 120px;
        margin-right: 120px;
    display: flex;
    cursor: pointer;
}
.logo
{
    height: 50px;
    width: 180px;
    background-image: url("images/logoo.png");
    background-size: cover;
    margin-top: 8px;
    margin-bottom: 8px;
}
.Menu
{
    width: 700px;
    height: 70px;
    background-color: #e4e3e1;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bolder;
    color: rgb(153, 152, 152);
}
.Menu p:hover
{
    color: black;
}
.Staff
{
    background-color: #e4e3e1;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 110px;
    border-radius: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border  : 4px solid #008000;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
}
.Staff:hover
{
    background-color: #008000;
    color: white;
}
/**NavBar Completed**/
.head2
{
    height: 580px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add
{
    width: 830px;
    background-color: rgb(202, 194, 202);
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.add p
{
    color: red;
    font-weight: bolder;

}
.Cross
{
    height: 20px;
    width: 20px;
    background-color: #e4e3e1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cross:hover
{
    background-color: red;
}
.profile
{
    height: 420px;
    width: 80%;
    margin-top: 20px;
    display: flex;
    
}
.pro-info
{
    width: 650px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pro-info
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.pro-info h3
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pro-info h1
{
color: rgb(109, 109, 109);
margin-top: 10px;
margin-bottom: 10px;
}
.pro-info h1:hover
{
    color: black;
}
.pro-info hr
{
    margin-right: 330px;
}
.pro-info3
{
    display: flex;
    margin-top: 20px;
}
.pro-info3A
{
    color: darkgoldenrod;
    font-size: 2.4rem;
    margin-right: 10px;
}
.pro-info3B {
    background-color: #008000;
    color: white;
    font-weight: bolder;
    width: 250px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 1rem;
}
.pro-photo
{
    width: 480px;
    background-color: aqua;
    border: 3px solid darkgoldenrod;
    border-radius: 50%;
    background-image: url("images/Picture.jpg");
    background-size: cover;
}
/**ProfileInfo completed**/
.pointer
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #464645;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
     position: sticky;
     padding: 5px;
     top: 0;
}
.about
{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about1
{
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.about1 hr
{
    color: black;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 80px;
}
.about2{
    display: flex;
    
}
.about2A
{
    width: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 100px;
}
.about2B 
{
    width: 50%;
    margin-top: 40px;
    color: #464645;
    font-size: 1.5rem;
    font-weight: bolder;

}
.about2B p
{

    color: #464645;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
}
.star 
{
    color: #008000;
    font-size: 0.8rem;
    display: flex;

}
.star p {
    margin-left: 15px;
    font-size: 0.85rem;
}
.Star-sec 
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/**Aboutus Section Complete**/

.Services{
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e7e5e5;
}
.Ser-1
{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.Ser-2
{
    height: 780px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ser-2A
{
    border-right: 1px solid rgb(92, 91, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding-right: 25px;
}
.writing1
{
    height: 50px;
    width: 50px;
    border: 2px solid #008000;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;  
}
.writing2 
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.writing2 p
{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.thirdA
{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.Ser-2B
{
    border-right: 1px solid rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding-right: 25px;

}
.Ser-2C
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding-right: 25px;
}
/** section 3rd Completed about services **/
.Whyus
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 820px;
    background-color: #ffffff;
    
}
.Why1{

    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.Why2
{
    height: 530px;
    width: 650px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #6f6f6f;
    
}
.Why2 ul
{
list-style-type: none;
border: 1px solid #6f6f6f;
width: 600px;
margin-top: 30px;
}
ul li 
{
    border-bottom: 1px solid #6f6f6f;
    margin: 0px;
}
.Why2 i{
    background-color:  #ffffff ;
    color: #008000;
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 10px;
    margin: 10px;
}
/**Howitworks Started **/
.Howitworks
{
height: 950px;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
flex-direction: column;
background-color: #f2f2f2;
}
.works1 
{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;    
}
.works1 h2
{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.works2
{
 height: 600px;
 width: 1100px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column ;
 background-color: white;
 border-radius: 10px;
 box-shadow: 1px #6f6f6f ;
}
.works2A
{
    color: rgb(153, 152, 152);
}
.works2B
{
 display: flex;
 justify-content: space-evenly;  
 flex-wrap: wrap;
 margin-top: 30px;
 padding: 35px;
 padding-bottom: 35px;
 margin-bottom: 0px;
 height: 300px;
 text-align: center;
 align-items: center;
}
.sign
{
    height: 120px;
    background-color: #f2f2f2;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 25px;
    font-size: 1.3rem;
}
.sign:hover
{
    background-color: #008000;
    color: white;
}
.first, .second, .third
{
    height: 40px;
    width: 40px;
    display: flex;
    border-radius: 50%;
    background-color: #008000;
    text-align: center;
    color: white;
    margin-left: 15px;
    margin-top: -125px;
    border: 6px solid white;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.work2C
{
    height: 70px;
 width: 100%;   
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.Signup
{
    width: 75PX;
    height: 50px;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
/**how it works session complete**/
.Reviews
{
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
    
}   
.review1
{
font-size: 2rem;
}
.review1 h2{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.review2
{
    height: 500px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.review21
{
    height: 25px;
    width:110;
    margin-bottom: 60px;
    margin-right: 240px;
    margin-top: -100px;
    color: #6f6f6f;
}
.review2A
{
    height: 115px;
    width: 130px;
    font-size: 5rem;
    border: 2px solid #008000;
    border-radius: 8px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.review2AB
{
    margin-top: 40px;
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;

}
.review2AB h2
{
    color: #008000;
}
/**reviews completed**/
.pakacges
{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #6e6e6e;
    box-shadow: 1px #6f6f6f;
    background-color: #f2f2f2;
    
}
.pakacge1
{
    font-size: 2rem;
    margin-top: 15px;
}
.pakacge1 h2 
{
        border-bottom: 1px solid black;
        padding-bottom: 20px;
}
.pakacge2
{
    height: 550px;
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
}
.pakacge2 p
{
    text-align: 
}
.basic
{
    height: 440px;
    width: 225px;
    margin-top: 40px;
}
.standard
{
    height: 440px;
    width: 225px;
    margin-top: 40px;
}
.premium
{
    height: 440px;
    width: 225px;
    margin-top: 40px;
}
.basic1
{
    height:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #008000;
}
.basic2{
    height: 310px;
    background-color: black;
    padding: 56px 16px 0px;
}
.basic2 ul
{
list-style: none ;
}
.basic2 li
{
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1PX SOLID white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.basic2:hover
{
    background-color: #008000;
}
#buy
{
    height: 40px;
    width: 180px;
    background-color: #008000;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
/**contact Section**/
.contact
{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px #6f6f6f;
}
.contact1
{
    font-size: 2rem;
    margin-top: 15px;
}
.contact1 h2 
{
        border-bottom: 1px solid black;
        padding-bottom: 20px;
}
.contact2 {
    height: 350px;
    width: 1150px;
    display: flex;
    margin-top: 50px;
    border-radius: 10px;
    flex-direction: column;
}
.Col1
{
    width: 1100px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;



}
.name
{
    width: 450px;
    height: 60px;
    border: 1px solid #d1d1d1;
    margin-right: 50px;
}
#box1, #box2, #box3, #box4
{
    width: 545px;
    height: 70px;
    font-size: 15px;
    padding-left: 15px;

}
#box5
{
    width: 1145px;
    height: 120px;
    font-size: 15px;
    padding-left: 15px;
    display: flex;
}
.Col2
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}
.sum
{
    font-size: 25px;
    height: 50px;
    color:#6f6f6f;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box6
{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
    font-size: 1.4rem;
}
.send {
    height: 40px;
    width: 180px;
    border-radius: 15px;
    border: 2px solid #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.send:hover
{
color: white;
background-color: #008000;
}
/** featured posts **/
.posts
{
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-shadow: 1px #6f6f6f;
    background-color: #f7f7f7;
    
}
.posts1
{
    font-size: 2rem;
    margin-top: 100px;
}
.posts1 h2 
{
        border-bottom: 1px solid black;
        padding-bottom: 20px;
}
.posts2
{

    height: 840px;
    width: 1140px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
    padding-bottom: 35px;
    
}
.promo
{
    height: 350px;
    width: 304px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top:    20px;
    padding-right: 15px;
    font-size: 17px;
}
.Read1 
{
    text-align: center;
    list-style-type: none;
    height: 40px;
    width: 150px;
    background-color: #008000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 50px;
    cursor: pointer;
}
/**footer section start**/
.container 
{
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    

}
.watsapp
{
    height: 200px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid black;
}
.facebook
{
    height: 200px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid black;
}
.email
{
    height: 200px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
}
.symbol
{
    font-size: 2.5rem;
    margin-top: 10px;
}
/**rights section**/
.rights
{
height: 60px;
background-color: black;
color: #6f6f6f;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
}
.rights a
{
    
}